<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<h1 class="T"><center><b><%= @user.name %></b></center></h1>
		</div><br><br>
		<div id="lo"><%= link_to "Logout",session_logout_path ,{style:"color: #4169E1"}%></div>
		<div id="you">	<%= link_to "Post", new_post_path, {style: "color: #4169E1"}%></div>
		<div id="my">	<%= link_to "My Post", post_index_path, {style: "color: #4169E1"}%></div>
		<div id="users"><%= link_to "All Users", session_show_path,{style: "color: #4169E1"} %>
	  </div>
	  <%unless @posts.blank? %>
		  <hr>
				<% @posts.each do|post| %>
					<div class="P">Title<br></div>
					<%= post.title %><br>
					<div class="P">Description <br></div>
					<%= post.description %><br>
					<ul type="square">
						<% @comment = post.comments %>
						<div class="P">Comments<br></div>
						<% @comment.each do|com|%>
							<li><%= com.description%></li>
						<%end%>
					</ul>
				<%end%>
			<hr>
		<%end%>
	</div>
</body>
</html>
